<p>add-produit works!</p>

<div class="container">
    <div>
        <h2>Ajouter un produit :  </h2>
    </div>
    <form>
        <!-- Hibernate gère lui-même les ID . on cache la div -->
        <div hidden class="col-sm-2 col-md-2 col-lg-2">
            <label> ID Produit</label>
            <input type="number" [(ngModel)]="newProduit.idProduit" name="idProduit" class="form-control" />
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label> Nom Produit</label>
            <input type="text" [(ngModel)]="newProduit.nomProduit" name="nomProduit" class="form-control" />
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label> Prix Produit</label>
            <input type="number" [(ngModel)]="newProduit.prixProduit" name="prixProduit" class="form-control" />
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label> Date Création</label>
            <input type="date" [(ngModel)]="newProduit.dateCreation" name="dateCreation" class="form-control" />
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Categorie</label>
           <select class="form-control form-control-lg" id="idCat" name="idCat" [(ngModel)] ="newIdCat">
                @for (cat of categories; track cat.idCat) {
                    <option [value]="cat.idCat"> {{cat.nomCat}} </option>
                }
           </select>
        </div>
        <div class="mt-2">
            <button type="submit" (click)="addProduit()" class="btn btn-success">Ajouter</button>
        </div>
    </form>
    @if(message != null) {
        <div>
            <h3>{{ message}} </h3>
        </div>
    }
</div>