<p>produits works!</p>

<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">

            <table class="table table-striped">
                @if( produits != null && produits.length !=0)
                {
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Date création</th>
                        <th>Catégorie</th>
                        <th>Suppression</th>
                    </tr>
                </thead>
                }
                <tbody>
                    @for (item of produits; track $index; let ind=$index ; let nbr=$count; let premier=$first; let dernier=$last) {
                        <tr>
                            <td> {{ ind }} </td>
                            <td> {{ item.idProduit }} </td>
                            <td> {{ item.nomProduit }} </td>
                            <td> {{ item.prixProduit }} </td>
                            <td> {{ item.dateCreation | date:'dd/MM/yyyy'}} </td>
                            <td> {{ item.categorie.nomCat}} </td>
                            <td><a class="btn btn-success" [routerLink]="['/updateProduit', item.idProduit]">Modifier</a></td>
                            <td><a class="btn btn-danger" (click)="supprimerProduit(item)">Supprimer</a></td>
                        </tr>
                        @if(dernier) {
                            <tr><td colspan="5"> nombre d'éléments : {{nbr}}</td></tr>
                        }
                    }
                    @empty {
                    <h1>Aucun produit trouvé !</h1>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>